$color-background: rgba(103, 73, 160, 0.308);
$color-text: green;
$color-primary: rgb(138, 11, 189);
$color-secondary: rgb(218, 84, 218);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-background;
}

.container{
    
    margin: 9%;
    width: 60%;


}

.new-password{
    max-width: 600px;
 width: 100%;
 margin-top: 50px;
 margin-bottom: 30px;
 background-color: $color-secondary;
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 50px;
 overflow: hidden;


    input{
        width: 100%;
        padding-left: 20px;
        font-size: 20px;
        height: 50px;
        border: none;
        border-radius: 10px;

        &:focus{
            outline: none;
        }
    }

    img{
    width: 50px;
    padding: 15px;
    height: 100%;
    background-color: $color-secondary;
    cursor: pointer;
    


        justify-content: center;
        align-items: center;
    }
}

h1{
    font-size: 40px;

    span{
        color: $color-primary;
        border-bottom: 3px solid $color-primary;
    }
}


.generate-password{
    

    button{
        width: 250px;
       
        height: 60px;
        text-align: left;
        border-radius: 10px;
        outline: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus{
            outline: none;

        }
        &:hover{
            background-color: $color-secondary;
        }

        img{
            display: inline-block;
            width: 50px;
            margin-right: 15px;
        }
        p{
            display: inline-block;
            line-height: 50px;
            font-size: 16px;
            font-weight: 700;

           
        }
    }


}